.footer {
  display: flex;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);

  &_avatar {
    margin-right: 15px;
    cursor: pointer;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &_form {
    position: relative;
    display: flex;
    width: 100%;

    input {
      width: 100%;
      height: auto !important;
      background: rgba(255, 255, 255, 0.05) !important;
      border: none !important;
      padding: 10px !important;
      margin: 0 !important;
      border-radius: 5px 0 0 5px !important;
      outline: none;
      color: #ccc;

      &:focus {
        box-shadow: none !important;
      }
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #eee;
      outline: none;
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
