@import "./header.chat.css";
@import "./menu.chat.css";
@import "./status.chat.css";
@import "./content.chat.css";
@import "./footer.chat.css";
@import "./modal.chat.css";

.chat {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
