.header .user-view {
  padding: 15px;
}

.header .sidenav-trigger {
  position: absolute;
  left: 10px;
  color: #eee;
  border-radius: 5px;
  padding: 6px 10px;
  background: rgba(255, 255, 255, .1);
}

.sidenav li {
  letter-spacing: 1px;
}

.sidenav i {
  font-size: 1.2em;
  margin-right: 10px !important;
}
