.modal h5 {
  margin-bottom: 25px;
}

.modal h5 i {
  margin-right: 15px;
  font-size: .8em;
}

.modal-tips {
  color: tomato;
  margin-top: 10px;
}

/*list room*/
.list-rooms-item {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #777;
  background: rgba(0, 0, 0, .05);
  border-radius: 3px;
  margin-bottom: 10px;
  transition: .2s;
}

.list-rooms-item.active {
  border: 1px solid deepskyblue;
}

.list-rooms-item:hover {
  background: rgba(0, 0, 0, .1);
  transition: .2s;
}

.list-rooms-item div {
  margin-right: 15px;
}

.list-rooms-item div:first-child {
  min-width: 100px;
}

.list-rooms-item div:nth-child(2) {
  min-width: 70px;
}

.list-rooms-item strong {
  color: #333;
}

@media only screen and (max-width: 620px) {
  .list-rooms-item span {
    display: none;
  }
}

/*list user*/
.list-users {
  display: flex;
  flex-wrap: wrap;
}

.list-users img {
  background: #eee;
  width: 80px;
  height: 80px;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: crosshair;
  transition: .2s;
}

.list-users img:hover {
  background: tomato;
  transition: .2s;
}
