@use 'parts/header';
@use 'parts/menu';
@use 'parts/status';
@use 'parts/content';
@use 'parts/footer';
@use 'parts/modal';

.chat {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}
